/* CALENDAR (v0.4) STYLE "CARTHAGO" BY SCIPIO */
@import "menu.css";
body {		font-family: arial; 
		font-size: 8pt; 
		color: #000; 
		background-color: white; 
		text-transform: lowercase; 
		margin: 0px 6px; }

		/* calendar */
td {		font-family: arial; 
		font-size: 8pt; }
		
		/* style & language selector */
select {	font-size: 8pt; }

		/* style for buttons */
.button {	font-size: 10pt; 
		height: 24px; 
		font-weight: bold; } 	

		/* style for days of week (Mon, Tue, etc) */
.dow {		font-family: arial;
		font-size: 8pt;
		background-color: #e6e6e6;
		color: #808080;
		min-width: 24px;
		max-width: 29px; }

.dow td {	border-bottom: solid 1px #808080; }

		/* style for month and year (April 2004, May 2004, etc) */	
.head {		font-family: arial; 
		font-size: 8pt; 
		color: #000; 
		background-color: #b2b2b2; } 
		
		/* style for holidays */
.holiday {	font-family: arial; 
		font-size: 8pt; 
		color: #808080; } 

		/* style for holidays with description */
.desc {		font-family: arial; 
		font-size: 8pt; 
		color: #808080; 
		background-color: #e6e6e6;
		border: dotted 1px #808080;
		text-decoration: none; 
		padding: 0px 2px; } 

		/* style for days */	
.day {		font-family: arial; 
		font-size: 8pt; 
		color: black; } 

		/* style for today */
.today {	font-family: arial; 
		font-size: 8pt;  
		color: #000; 
		background-color: /*#b2c5ff;*/ /*#c4d1f5;*/ #d1d9ef;
		border: solid 1px /*#002cb2;*/ /*#5570c4;*/ #8c9dd1; } 
		
		/* text 'Wk' */
.week_head  { 	border-right: 1px solid #808080;
		border-bottom: none; 
		background-color: #e6e6e6; 
		color: #808080; }

		/* week numbers */
.week {		border-right: 1px solid #808080;
		background-color: #e6e6e6; 
		color: #808080; }

		/* style for links */
a {		font-family: arial; 
		font-size: 8pt; 
		color: black; 
		text-decoration: none;} 
		
		/* everything */
#content {	/*min-width: 182px;*/
		max-width: 200px;
		margin: auto; }
		
#calendar {	border: none; }

#cal1 {		margin-top: 10px; 
		border: 1px solid #808080; }
#cal2 {		margin-top: 10px; 
		border: 1px solid #808080; }
#cal3 {		margin-top: 10px; 
		border: 1px solid #808080; }
#options {	margin: 0px 4px; 
		text-align: center; }
		
#clock {	font-weight: normal; }

#clock .button {font-size: 7pt; 
		font-family: verdana; }
	
		/* popup menu in upper left corner */	
#ProxMenuSub {	background-color: #e6e6e6;
		border: solid 1px #808080; 
		font-weight: normal; }
	
a.head {	font-weight: normal; 
		text-decoration: none; }
a.head:hover {	font-weight: noremal;
		color: white;
		text-decoration: none; }

#navigation {	margin-bottom: 48px; }

#more_options_title {font-style: normal;
		text-transform: uppercase; }

#more_options_title i {font-style: normal; }

#more_options_us_eu { display: none; }

#more_options_week { display: none; }
