@import "menu.css";
body {font-family: Verdana, Helvetica, Arial; font-size: 8pt; color: #FFF; background-color: #000; padding: 0px; margin: 0px;}
td {font-family: Verdana, Helvetica, Arial; font-size: 9pt; color: #FFF;}
select {background-color: #EEE; font-family: Verdana, Helvetica, Arial; font-size: 8pt; color: #000;}
	/* style for buttons */
/* .button {background-color: #CCC; color: #000;} */
	/* style for days of week (Mon, Tue, etc) */
.dow {font-family: Verdana, Helvetica, Arial; font-size: 10pt; color: #FFF; background-color: #009; min-width: 24px; max-width: 29px;}
	/* style for month and year (April 2003, May 2003, etc) */
.head {font-family: Verdana, Helvetica, Arial; font-size: 10pt; color: #000; background-color: #990;}
	/* style for holidays */
.holiday {font-family: Verdana, Helvetica, Arial; font-size: 9pt; color: #F00;}
	/* style for holidays with description */
.desc {font-family: Verdana, Helvetica, Arial; font-size: 9pt; color: #F00; border-bottom: 1px solid;}
	/* style for days */
.day {font-family: Verdana, Helvetica, Arial; font-size: 9pt; color: #FFF;}
	/* style for today */
.today {font-family: Verdana, Helvetica, Arial; font-size: 9pt; font-weight: bold; color: #000; background-color: #00DF00; border-width: 3px; border-style:ridge; border-color: #CCCCCC;}
.week, .week_head {border-right: 3px ridge #990;}
	/* style for links */
a {font-family: Verdana, Helvetica, Arial; font-size: 8pt; color: #FF0; border-bottom: 1px solid;}
#content {margin: auto; min-width: 170px; max-width: 220px; text-align: center;}
#calendar {border: 6px ridge #CCC;}
#cal1 {background-color: #444;}
#cal2 {}
#cal3 {background-color: #444;}
#more_options_title {font-style: italic; color: #0FF;}
#clock_button {font-weight: bold;}
#at {font-weight: bold;}
#popup {padding: 5px;}
