@import "menu.css";
body {font-family: Verdana, Helvetica, Arial; font-size: 11px; color: #000; background-color: #fff;}
.dow {background-color: #eee; min-width: 24px; max-width: 26px;}
.head, .head td, .head a {color: #fff; background-color: #06659b;}
.holiday, a {color: #00a; text-decoration: none;}
.desc {color: #00a; text-decoration: underline;}
.today {font-weight: bold; color: #fff; background-color: #06659b; border-width: 1px; border-style:solid; border-color: #000;}
.today .holiday, .today .desc {color: #fff; }
.week, .week_head {border-right: 1px solid #000;}
#content {margin: auto; width: 182px;text-align: center;}
#calendar {border: 1px solid #000;}
#options {display: none;}