/****************************************************************************/
/* some general format settings                                             */
/****************************************************************************/
body {
font-family: Verdana, Helvetica, Arial;
font-size: 10pt;
color: black;
background-color: white;
}
h1 { /* ignore h1, styles are set through the classes */
font-family: Verdana, Helvetica, Arial;
font-size: 10pt;
color: black;
background-color: white;
margin: 0px;
}
table {
border: collapse;
}
form { /* no line breaks in forms by default */
display: inline;
}
.button { /* buttons */
position: relative;
background-color: #E4E4E4
color: black;
}
a { /* links (not underlined) */
color: black;
text-decoration: none;
}
/****************************************************************************/
/* formats for all sections                                                 */
/****************************************************************************/
.section {
margin-top: 4px;
border: 1px solid #000;
background-color: #eee;
}
.sectiontitle {
display: none;
padding: 2px;
clear: both;
border: 3px outset #E0E0FF;
color: white;
background-color: #0A5F89;
font-weight: bold;
}
.sectioncontent {
margin: 4px;
}
.holiday { /* holidays */
color: red;
}
.holiday a { /* holidays */
color: red;
}
/****************************************************************************/
/* formats for the toolbar section                                          */
/****************************************************************************/
#toolbar .section {
/* just use the defaults */
}
#toolbar .sectiontitle {
/*display:none; */
}
#toolbar .sectioncontent {
/* just use the defaults */
}
/****************************************************************************/
/* formats for the calendar section                                         */
/****************************************************************************/
#calendar .prev { /* the calendar(s) before the current month */
background-color: #eee;
border: 2px outset #000;
margin-top: 2px;
}
#calendar .current { /* the current month's calendar */
border: 2px outset #000;
margin-top: 2px;
}
#calendar .next { /* the calendar(s) before the current month */
background-color: #eee;
border: 2px outset #000;
margin-top: 2px;
}
#calendar .headrow { /* "<< May 2004 >>" */
background-color: #DCDCDC;
color: black;
}
#calendar .current .headrow { /* "<< May 2004 >>" (for current month) */
background-color: #0A5F89;
color: white;
}
#calendar .headrow .back { /* "<<" */
text-align: center;
border: 3px groove #DCDCDC;
background-color: #E4E4E4;
}
#calendar .headrow .caption { /* "May 2003" */
border-bottom: 3px groove #DCDCDC;
/*background-color:yellow;*/
}
#calendar .current .headrow .caption .month { /* "May" (for current month) */
}
#calendar .headrow .caption .month { /* "May" */
}
#calendar .current .headrow .caption .year { /* "2003" (for current month) */
}
#calendar .headrow .caption .year { /* "2003" */
}
#calendar .headrow .forward { /* ">>" */
text-align: center;
border: 3px groove #DCDCDC;
background-color: #E4E4E4;
}
#calendar .dow { /* days of week (Mon, Tue, etc) */
background-color: lightgrey;
color: black;
}
/* if you want to turn off week of year, set "display:none;" for ".weekofyear" */
#calendar .weekofyear {
/*display:none;*/
border-right: 3px groove #DCDCDC;
}
#calendar .weekhead {
}
#calendar .week {
}
#calendar .holiday { /* holidays */
color: red;
}
#calendar .desc { /* days with description */
background-color: #C5E0FC;
text-decoration: underline;
border: 1px dotted black;
}
#calendar .holiday .desc { /* holidays with description */
color: red;
}
#calendar .day { /* days */
color: black;
}
#calendar .today { /* today */
font-weight: bold;
color: black;
background-color: #C5E0FC;
border: 1px solid black;
}
/****************************************************************************/
/* styles for the details section                                           */
/****************************************************************************/
#details {
margin: auto;
min-width: 182px;
max-width: 200px;
text-align: center;
}
#details .datehead { /* date in details */
color: white;
background-color: #C5E0FC;
}
#details .holidaydesc { /* a holiday description in details */
color: #f00;
}
#details .appointmentdesc { /* an appointment description in details */
color: #000;
}
/****************************************************************************/
/* styles for the options section                                           */
/****************************************************************************/
#options .section {
/* just use the defaults */
}
#options .sectiontitle {
/* just use the defaults */
}
#options .sectioncontent {
/* just use the defaults */
}
/*** defaults for title and content classes ***/
#options .title {
padding: 4px;
background-color: #eee;
font-weight:bold;
}
#options .content {
padding: 4px;
background-color: #eee;
}
/*** styles for special settings ***/
#options .starton {
/* just use the defaults */
}
#options .starton .title {
/* just use the defaults */
}
#options .starton .content {
/* just use the defaults */
}
#options .months .button {
display: inline;
}
#options .months .form {
/* just use the defaults */
}
/****************************************************************************/
/* what's that for ???                                                      */
/****************************************************************************/
#at, #clock_button {
font-weight: bold;
}
/****************************************************************************/
/* styles for the style select section                                      */
/****************************************************************************/
#styleselect .section {
/* just use the defaults */
}
#styleselect .sectiontitle {
/* just use the defaults */
}
#styleselect .sectioncontent {
/* just use the defaults */
}
/****************************************************************************/
/* styles for the popup section                                             */
/****************************************************************************/
#popup .section {
display:none;
}

