@import "notitle_all.css";
/****************************************************************************/
/* there are 4 sections in the html document:                               */
/*   1. the toolbar where the user can select the month and year to display */
/*   2. the calendar(s)                                                     */
/*   3. the options                                                         */
/*   4. the style select box                                                */
/* each of these can be configured separately and be turned off by setting  */
/* the "display" option to "none"                                           */
/****************************************************************************/
#toolbar {
display:block;
}
#calendar {
display:block;
}
#options {
display:none;
}
#styleselect {
display:block;
}
#popup {
display:block;
}

